
<!DOCTYPE html>
<html lang="es" >
    <head>
        <meta  charset=utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
              <link rel="icon" type="image/x-icon" href="{{ asset('bundles/webappfrontend/images/iconplataforma.png') }}" />
           <link rel="stylesheet" href="{{ asset('bundles/webappfrontend/css/bootstrap-theme.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/webappfrontend/css/bootstrap.min.css') }}" type="text/css" media="all" />
                <link rel="stylesheet" href="{{ asset('bundles/webappfrontend/css/stile.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/webappfrontend/css/slide.css') }}" type="text/css" media="all" />
                
    <!-- Estilos del calendario-->
        {% endblock %}
        {% block javascripts %}
        
       <script type="text/javascript" src="{{ asset('bundles/webappfrontend/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/webappfrontend/js/bootstrap.min.js') }}"></script>
        
          {% block custom_javascripts %}{% endblock  %}
    {% endblock %}

    </head>
    <body>


        <div class="supercontainer">
                {{ include('WebAppFrontendBundle:Default:menuUsuario.html.twig') }}
                {{ include('WebAppFrontendBundle:Default:slideUser.html.twig') }}
                      {% block body %}{% endblock %}
        {% include 'WebAppFrontendBundle:Default:footer.html.twig'%}
        </div>
    
</body>
</html>



