{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}


    <div >
        <div>
            <div class="row">
                <div class="col-sm-12">
            {% block sonata_user_login %}
                    <div class="panel panel-info">

                        <div class="panel-heading">
                            <h2 class="panel-title">Inicio Sesión</h2>
                        </div>
                        {% block sonata_user_login_error %}
                            {% if error %}
                                <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                            {% endif %}
                        {% endblock %}
                        <div class="col-md-12 iniciar-sesion">  
                        {% block sonata_user_login_form %}                                          
                            <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="col-md-6 sesion">
                                <input name="_csrf_token" value="{{ csrf_token }}" type="hidden">
                                <label for="username" class="col-sm-4 control-label">Usuario</label>

                                <input class="form-control" id="username" name="_username" value="{{ last_username }}" required type="text">
                                <label for="password" class="col-sm-4 control-label">Contraseña</label>

                                <input class="form-control" id="password" name="_password" required type="password">
                                <div class="ayudas-sesion">
                                    <label for="remember_me">
                                        <input id="remember_me" name="_remember_me" value="on" type="checkbox">
                                        Recordar
                                    </label>

                                    <a href="{{ path('fos_user_resetting_request') }}">Recuperar contraseña</a>

                                </div>
                                <div class="btn-sesion">
                                    <input id="_submit" name="_submit" class="btn btn-primary" value="Entrar" type="submit">
                                    <a class="btn btn-success pull-right" href="{{path('fos_user_registration_register')}}">Registrate</a>
                                </div>
                            </form>
                        {% endblock %}
                        </div>
                    </div>
            {% endblock %}
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
