<div class="col-md-12 imagem-top">

    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h2 class="panel-title">Actualizar Perfil</h2>
                    </div>
                    <div class="col-md-12 iniciar-sesion">  
                        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="col-md-6 sesion">

                            <label for="username" class="col-sm-4 control-label">Usuario</label>
                            {%if form_errors(form.username)  is not empty %}
                                <div class="bg-danger errores">{{ form_errors(form.username) }}</div>
                            {% endif %}
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                            <label for="username" class="col-sm-4 control-label">Email</label>
                            {%if form_errors(form.email)  is not empty %}
                                <div class="bg-danger errores">{{ form_errors(form.email) }}</div>
                            {% endif %}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            <label for="username" class="col-sm-4 control-label">Contraseña Actual</label>
                            {%if form_errors(form.current_password)  is not empty %}
                                <div class="bg-danger errores">{{ form_errors(form.current_password) }}</div>
                            {% endif %}
                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                            {{form_rest(form)}}
                            <div class="btn-sesion">
                                <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success pull-right" />
                            </div>
                        </form>
                    </div>
                </div>
                            
            </div>
                            </div>
                            </div>
                            </div>
