{% extends '::aula.html.twig' %}
{% block title %}{{project_name}}{% endblock %}
 
{% block body %} 
    <div class="contenedor">
            	
                <div class="row">
                	<section class="col-lg-8">
                    	<h1>Aulas Musicales</h1>
                        
                    	<div class="row aulas">
                            {%for aula in pagination%}
                        	<article class="col-md-6">
                                    {%set contador=0%}
                    {%set foto=null%}
                    {%for imagen in aula.getAulaFotos%}
                        {%set contador = contador+1%}
                    {%endfor%}
                    {%if contador>0%}
                        {%set foto= random(aula.getAulaFotos)%}
                    {%endif%}
                     {%if foto!=""%}
                            <img src="http://{{app.request.host ~ foto.viewImage}}" alt="img-noticias"/> 
                        {%else%}
                            <img src="http://{{app.request.host}}/bundles/webappfrontend/images/no-hay-foto.png" alt="img-noticias">

                        {%endif%}
                            	
                                <h4>{{aula.titulo|truncate(70)}}</h4>
                                <p class="lead">{{aula.descripcion|truncate(100)|raw}}</p>
                                <a href="{{path('web_app_frontend_detalle_aula', {'slug': aula.slug})}}">Leer más</a>
                            </article>
                        {%endfor%}
                            
                           
                        </div>
                         <div class="btn-toolbar" role="toolbar">
                                <div class="count">
                    Total resultados: {{ pagination.getTotalItemCount }}
                </div>
                              <div class="btn-group">
                              	{{ knp_pagination_render(pagination) }}
                              </div>         
                            </div>
                    </section>
                    <section class="col-lg-4">
                    	<div class="filtro">
                        <form role="form">
                          <div class="form-group">
                            <label for="">Escoge un municipio</label>
                            {{form_widget(form.municipio, {'attr': {'placeholder': 'Municipio'}})}}
                          </div>
                           <div class="form-group">
                            <label for="exampleInputPassword1">Buscar por palabra</label>
                            {{form_widget(form.titulo, {'attr': {'placeholder': 'Buscar'}})}}
                          </div>
                          <button type="submit" class="btn btn-default" name="submit-filter">Filtrar</button>
                          <button type="submit" class="btn bg-danger" onClick="window.location.href = '{{url(app.request.attributes.get('_route'))}}'" >Limpiar</button>
                        </form>
                        </div>
                                             
                    </section>
                </div>
            </div>
{% endblock %}
