
<div class="col-md-12 imagem-top">

    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h2 class="panel-title">Cambio Contraseña</h2>
                    </div>
                    <div class="col-md-12 iniciar-sesion">  
                        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="col-md-6 sesion">

                            <label for="username" class="col-sm-4 control-label">Contraseña Actual</label>
                            {%if form_errors(form.current_password)  is not empty %}
                                <div class="bg-danger errores">{{ form_errors(form.current_password) }}</div>
                            {% endif %}
                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}

                            {% for passwordField in form.new %}
                                {% if loop.first == true %}
                                    <label for="username" class="col-sm-4 control-label">Contraseña</label>

                                    {%if form_errors(passwordField)  is not empty %}
                                        <div class="bg-danger errores">{{ form_errors(passwordField) }}</div>
                                    {% endif %}
                                    {{form_widget(passwordField, { 'attr': {'class': 'form-control', 'id' : 'inputEmail' , 'placeholder':'Contraseña'}})}}<br>

                                {% else %}
                                    <label for="username" class="col-sm-4 control-label">Repite tu contraseña</label> 

                                    {%if form_errors(passwordField)  is not empty %}
                                        <div class="bg-danger errores">{{ form_errors(passwordField) }}</div>
                                    {% endif %}
                                    {{form_widget(passwordField, { 'attr': {'class': 'form-control', 'id' : 'inputEmail' , 'placeholder':'Repite tu contraseña'}})}}

                                {% endif %}
                            {% endfor %}
                            {{form_rest(form)}}
                            <div class="btn-sesion">
                                <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success pull-right" />
                            </div>
                        </form>
                    </div>
                </div>